PORT=8788
DATABASE_URL="file:./dev.db"
ADMIN_EMAIL=login@mcc.com
ADMIN_PASSWORD_HASH=scrypt$16384$8$1$Dt1U6Hhkyx0ujD81OVw8cA$9MjE4MG0pmWhqoGjK-t5FGjWicY8oYN0JiV-zpmUXD6QB1aBGhIgauFzMBIHOJwkMZn4hWOrsD52pMXPB4oHlw
SESSION_SECRET=change-this-to-a-random-string-with-at-least-32-characters
GOOGLE_PLACES_API_KEY=
OPENAI_API_KEY=
CRM_PUSH_ENDPOINT=
CRM_PUSH_AUTH_HEADER=
