PORT=8788
DATABASE_URL="file:./dev.db"
ADMIN_EMAIL=dausmhf@gmail.com
ADMIN_PASSWORD_HASH=scrypt$16384$8$1$Sjv5iswjoDjik-vK6p6yFw$NNh-yXS1TQ8hO8w6d_oSSqZ8rVIovBCELJmWKfijXm_pYWZzO9m5duyx7TXgEQ4wSCu0-an4WSHM9mdq8eCFVg
SESSION_SECRET=change-this-to-a-random-string-with-at-least-32-characters
GOOGLE_PLACES_API_KEY=
OPENAI_API_KEY=
CRM_PUSH_ENDPOINT=
CRM_PUSH_AUTH_HEADER=
